<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="EU-ID Bench"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.test.loops"
            android:value="8" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.intent.action.TEST_LOOP" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/javascript" />
            </intent-filter>
        </activity>
    </application>
</manifest>
